html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;


  .login-card {
    background: white;
    padding: 2.5rem 2rem;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  * {
    box-sizing: border-box;
  }
    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      color: #333;
    }

    label {
      display: block;
      margin-bottom: 0.25rem;
      font-weight: 500;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 1rem;
      background: #eef3ff;
    }

    .error {
      color: red;
      font-size: 0.9rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    button {
      width: 100%;
      padding: 0.6rem;
      background: #4f73ff;
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover {
        background: #3658e3;
      }
    }

    
  }
}
